{% extends 'master.html' %}
    {% block content %} 
    
<div class="container">
  <ul class="list-unstyled video-list-thumbs row">
    <li class="col-lg-3>
        <a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
           <div class="row"> 
            {% for profile in profiles %}
           
            <h2>{{profile.user_first_name | capfirst}}{{profile.user_second_name | capfirst}}</h2>
            
            </div>
            {% endfor %}
        </div>
        </a>
    </li>
  </ul>
</div>

{% endblock %}
