<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


    <link href="/static/common/CSS/sign_up.css" rel="stylesheet">

</head>
<body>
    <section class="page1" >

        <img src="/static/images/20211209_192521.png" width="160px">
        <div class="sign" style="margin-top: 100px;">
        <p>Sign Up</p>
      <form action="/app1/templates/homepage.html">
    <input type="text" id="name1" name="first_name" placeholder="First Name">
    <span id="name_err1"></span>
    <input type="text" id="name2" name="second_name" placeholder="Second Name">
    <span id="name_err2"></span>
    <input type="number" id="age1" name="age" placeholder="Your Age">
    <span id="age_err"></span>
    <input type="email" id="mail1" name="user_email" placeholder="Email Address">
    <span id="mail_err"></span><br/>
    <input type="password" id="pw" name="password" placeholder="Password">
    <span id="pw_err"></span><br/>
    
    <button onclick="return sign()" class="signup">Sign Up</button>
    </form>
    </section>
</body>
</html>